<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasteBin</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/solarized-dark.min.css"/>
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <%- include("_button.ejs") %> 
    <div class="wrapper">
        <div class="line-numbers">
            <% for(let i=1;i<=numbers;i++) { %>
                <div><%= i %></div>
            <% } %> 
        </div>
        <pre><code id="code-display" class="<%= locals.language ? `language-${locals.language}` : '' %>"><%= code  %></code></pre>
    </div>
</body>
</html>